#footer {
    font-family: Helvetica, sans-serif;
    color: white;
    padding-top: 40em;
}
#copywrite {
    text-align: right;
}
#firstLine {
    font-size: 5em;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
#secondLine {
    font-size: 3em;
    font-family: Helvetica, sans-serif;
    padding-bottom: 0.5em;
    text-align: center;
}
html,body,div {
    width:100%;
    overflow-x:hidden;
  }

  @media only screen and (max-width: 600px) {
    #welcomeSection {
        margin-top: 1em;
        background-color: #F9F9F9;
        height: 50em;
        padding-top: 7em;
        padding-left: 1em;
    }
  }