@media screen and (max-width: 600px) {
    #firstLine {
      font-size: 4em;
    }
    #secondLine {
        font-size: 2em;
    }
    #welcomeText {
        margin-left: 1em;
        margin-top: 5em;
    }
    #welcomeEmoji {
        margin-left: 0.25em;
    }
  }
