#footer {
    font-family: Helvetica, sans-serif;
    color: black;
    padding-top: 15em;
}

#firstLine {
    font-size: 5em;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
#secondLine {
    font-size: 3em;
    font-family: Helvetica, sans-serif;
    padding-bottom: 0.5em;
    text-align: center;
    color: black;
}
html,body,div {
    width:100%;
    overflow-x:hidden;
  }
  #welcomeSection {
    background-color: #F5F5F5;
    height: 25em;
    padding-top: 6em;
    text-align: center;
}
#firstRow {
    text-align: center;
    padding-top: 1.9em;
}

#contactSection {
    margin-top: 2em;
}
.contactList {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: none;
  }


  @media only screen and (max-width: 600px) {
    #welcomeSection {
        text-align: left;
        margin-top: 1em;
        background-color: #F9F9F9;
        height: 30em;
        padding-top: 7em;
        padding-left: 1em;
        text-align: left;
    }
    #firstLine {
        text-align: left;
        font-size: 60px;
    }
    #secondLine {
        text-align: left;
        font-size: 35px;
    }
    

  }
