#welcomeSection {
    margin-top: 2em;
    background-color: #F9F9F9;
    height: 30em;
    padding-top: 6em;
    padding-left: 1em;
    text-align: center;
}

#firstRow {
    text-align: center;
    padding-left: 2em;
    padding-top: 1.9em;
}