#welcomeText {
    text-align: left;
    margin-left: 4em;
    margin-top: 12em;
}
#firstLine {
    font-size: 5em;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}
#secondLine {
    font-size: 3em;
    font-family: Helvetica, sans-serif;
}
#welcomeEmoji {
    text-align: left;
    margin-left: 3em;
    margin-top: 2em;
    padding-bottom: 15em;
}
#welcomeSection {
    margin-top: 1em;
    background-color: #F9F9F9;
    margin-bottom: 1.5em;
}
#aboutSection {
    background-color: #F9F9F9;
    margin-bottom: 5em;
}
#aboutText {
    margin-top: 11em;
    text-align: right;
    margin-right: 4em;
    margin-bottom: 13em;
}
@media screen and (max-width: 600px) {
    #firstLine {
      font-size: 4em;
    }
    #secondLine {
        font-size: 2em;
    }
    #welcomeText {
        margin-left: 1em;
        margin-top: 5em;
    }
    #welcomeEmoji {
        margin-left: 0.25em;
    }
  }